
.about-me{
    background-color: #ffffff; 
    opacity: 0.7;
    border-radius: 100px; 
    padding: 50px;
    width: 700px;
    text-align: center;
}
.projects{
    align-items: center;
}
.xp-about-container{
    margin-top: 7rem;
}

@media (min-width: 992px) {
    .xp-about-container {
        margin-left: -5rem;

    }
}
